@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


*{
    box-sizing: border-box;
}

body{
    background-color: lightcoral;
    font-family: 'Muli',sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

div{
    position: absolute;
    bottom: 20px;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
}

input{
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: lightcoral;
    border: transparent;
    border-radius: 2px;
    text-align: center;
}

input:focus{
    outline: none;
}

